.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: min(2.5vh, 2.5vw, 12px);

  font-family: monospace;

  background: black;
}

a {
  color: inherit;
  text-decoration: none;
}

.grid-container {
  width: min(80vh, 90vw);
  height: min(80vh, 90vw);
  aspect-ratio: 1;
  position: relative;
}

.cell {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  corner-shape: round;
  position: absolute;
  width: 100%;
  height: 100%;

  overflow: hidden;

  filter: drop-shadow(0 3vh 2vh rgba(255, 255, 255, 1));
  transition: translate 2s ease-out;
}

.cell-fill {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 1);
  z-index: -1;
  transition: scale 2s ease-out;
}

.cell-on .cell-fill {
  transform-origin: 50% 0%;
  scale: 1 1;
  transition-duration: 1s;
}

.cell-off {
  /* display: none; */
}

.cell-off .cell-fill {
  transform-origin: 50% 0%;
  scale: 1 0;
  transition-duration: 1s;
}

.footer {
  font-family: monospace;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: white;
}

@media (pointer: fine) and (hover: hover) {
  .footer {
    opacity: 0;
    transition: opacity 10s ease-in-out;
    
    &:hover {
      transition: opacity 0.5s ease-in-out;
      opacity: 0.5;
    }

    @starting-style {
      opacity: 0.5;
    }
  }
}
