.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.8em;

  font-family: monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

.grid-container {
  display: grid;
  height: 100%;
  aspect-ratio: 1;
  gap: 0.25em;
  padding: 8em;
}

.cell {
  display: flex;
  background-color: rgba(0, 0, 0, 0.05);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  corner-shape: bevel;
  position: relative;
  overflow: hidden;
}

.cell-text {
  color: white;
  mix-blend-mode: difference;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  cursor: default;
}

.cell-on .cell-text {
  opacity: 1;
}

.cell:hover .cell-text {
  opacity: 1;
}

.cell-fill {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: black;
  z-index: -1;
  transition: scale 0.2s ease-out;
}

.cell-on .cell-fill {
  transform-origin: 0 0;
  scale: 1 1;
  transition-duration: 0.5s;
}

.cell-off .cell-fill {
  transform-origin: 100% 100%;
  scale: 0 1;
  transition-duration: 0.25s;
}

.footer {
  font-family: monospace;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  opacity: 0.5;
}